<h1>Ahora, logueate</h1>
    <form id="loginForm">

        <label for="">Email</label>
        <input name="email">

        <label for="">Contraseña</label>
        <input type="password" name="password">

        <input type="submit">
    </form>

<script src="/js/login.js"></script>