<div>
    <h1>Registrate</h1>
    <form id="registerForm">

        <label for="">Nombre</label>
        <input name="first_name">

        <label for="">Apellido</label>
        <input name="last_name">

        <label for="">Email</label>
        <input name="email">

        <label for="">Contraseña</label>
        <input type="password" name="password">

        <input type="submit">
    </form>
</div>

<script src="/js/register.js"></script>