
<form action="/api/products" method="post" enctype="multipart/form-data">
    <label for="">Titulo</label>
    <input type="text" name="title">
    <br>
    <br>
    <label for="">Descripción</label>
    <input type="text" name="description">
    <br>
    <br>
    <label for="">Código</label>
    <input type="text" name="code">
    <br>
    <br>
    <label for="">Precio:</label>
    <input type="number" name="price">
    <br>
    <br>
    <label for="">Stock:</label>
    <input type="number" name="stock">
    <br>
    <br>
    <label for="">Categoria:</label>
    <input type="text" name="category">
    <br>
    <br>
    <label for="">Thumbnails:</label>
    <input type="text" name="thumbnails">
    <br>
    <br>
    <br>
    <input type="submit">
</form>
<script src="/js/form.js"></script>