<div>
    <h2>Agregar producto</h2>
    <form action="/api/products" method="post" enctype="multipart/form-data">
        <label>Titulo</label>
        <input name="title">
        <br>
        <label>Descripcion</label>
        <input name="description">
        <br>
        <label>Precio</label>
        <input name="price">
        <br>
        <label>Código</label>
        <input name="code">
        <br>
        <label>Categoria</label>
        <input name="category">
        <br>
        <label>Stock</label>
        <input name="stock">
        <br>
        <input type="submit">
    
    </form>
</div>