<div>
    {{#if products}}
        <h1>Productos disponibles</h1>
        <ul>
            {{#each products}}
                <li><p>{{this.title}} : {{this.price}}</p></li>        
            {{/each}}
        </ul>
    {{else}}
        <h1>Aun no tengo productos para mostrar</h1>
    {{/if}}
</div>

<script src="/js/home.js"></script>