<div>
    <h1>Productos disponibles(Real time)</h1>
        <ul>
            <li><p id="ProductsBox"></p></li>
        </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>